<h2>Контакты</h2>
<form action = "/contacts" method = "post">
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email</label>
  <input name="user_email" type="email" class="form-control" id="exampleFormControlInput1">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Комментарий</label>
  <textarea name="comment" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div> <br>
  <button type="submit" class="btn btn-primary">Отправить</button>
</form>