<h2>Записаться</h2>
<form action = "/visit" method = "post">
  <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Ваше имя</label>
  <input name="username" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ваше имя">
  <label >Дата и время</label><br>
  <input name="datetime" type="datetime-local"><br>
<label for="barber">Выбор парикмахера</label>
  <div><select name="barber">
    <option value="none" selected>Выберите парикмахера...</option>
    <option value="Петров">Петров</option>
    <option value="Иванов">Иванов</option>
    <option value="Сидоров">Сидоров</option>
  </select><br>
  <button type="submit" class="btn btn-primary">Отправить</button>
</form>




